<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Xocolat Home Page</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        {% load static %}
        <link href="{% static 'tracker/home.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'tracker/boot/css/bootstrap.min.css' %}" media='screen' rel="stylesheet" type="text/css" />

        <script src="{% static 'tracker/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'tracker/boot/js/bootstrap.min.js' %}"></script>
        <script>
            var fetchItems = "{% url 'tracker:fetch-items' %}";
        </script>
        <script src="{% static 'tracker/js/home.js' %}?{% now 'U' %}"></script>
    </head>
    <body>
        <div hidden>
            <form method="GET" enctype="multipart/form-data">
            {% csrf_token %}
                <table id="categoryTable" style="width: 100%;">
                    <tr>
                        {% for category in categories %}
                        <td><button class="categoryBtn" type="button" value="{{category.id}}">{{category}}</button></td>
                        {% endfor %}
                    </tr>
                </table>
            </form>
            <table id="itemTable">
                <tr>
                    <td> 
                        
                
                 </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table id='soldItemTbl'>
                <tr>
                    
                </tr>
            </table>
            
            <table class="table">
                {% for i in three %}
                <tr class="soldItemRow">
                    <td>
                        <label>Category :</label>
                        <select id='categoryDD{{i}}'>
                            <option selected>--------</option>
                            {% for cat in categories %}
                                <option value="{{cat.id}}">{{cat}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% for field in soldItemForm %}
                    <td>
                        {{field.label}} : {{field}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="AddRow">
                    <td colspan="*"><button type="button">Add Row</button></td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    {% for field in sellsForm %}
                    <td>
                        {{field.label}} : {{field}}
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <input type="submit">
        </form>
    </body>
</html>